body{

background:#171717;
color:white;

font-family:Georgia;

display:flex;
justify-content:center;

margin-top:80px;

}

.box{

width:350px;

background:#252525;

padding:25px;

border:2px solid #555;

}

label{

display:block;

margin-top:20px;

}

input,select{

width:100%;

font-size:20px;

padding:6px;

margin-top:5px;

}

button{

margin-top:25px;

width:100%;

padding:12px;

font-size:20px;

cursor:pointer;

}

h2{

margin-top:35px;

}